@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* common */

:root {
  --logo-font: 'Lobster', cursive;
  --body-font: sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: var(--body-font);
}

a {
  color: black;
  text-decoration: none;
}

/* register */

.register {
  .container {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .container-center {
    @include flex-center;
    width: 100%;
    height: auto;
    margin: 3rem 3rem;
  }

  .active {
    opacity: 1;
  }

  .register-container {
    @include flex-center;
    flex-direction: column;
    height: auto;
    width: 350px;
    margin-right: 3.5rem;
  }

  .register-container__input {
    background-color: white;
    height: auto;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 2.5rem;
    margin-bottom: 1rem;
  }

  .register-logo {
    @include flex-center;
    width: 100%;
    height: 100px;
    margin-top: 1rem;
    margin-bottom: 0.1rem;

    span {
      font-size: 2.8rem;
      font-family: var(--logo-font);
    }
  }

  .register-input {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }

  .register-input__ID {
    height: 35px;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(188, 185, 185, 0.1);
    margin-bottom: 8px;

    &:focus {
      border-color: rgba(0, 0, 0, 0.5);
      outline: none;
    }

    &[placeholder] {
      font-size: 12px;
    }
  }

  .register-input__PW {
    height: 35px;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(188, 185, 185, 0.1);
    margin-bottom: 15px;

    &:focus {
      border-color: rgba(0, 0, 0, 0.5);
      outline: none;
    }

    &[placeholder] {
      font-size: 12px;
    }
  }

  .register-button {
    height: 31px;
    border: none;
    background-color: #0597f2;
    border-radius: 0.3rem;
    color: white;
    margin-bottom: 0.9rem;
    font-size: 14px;

    &:last-child {
      margin-bottom: 2.3rem;
      background-color: #aed8f2;
    }
  }

  .register-separate {
    @include flex-center;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  .register-separate__line {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .register-separate__span {
    @include flex-center;
    width: 30px;
    font-size: 13px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
    flex-shrink: 0;
    flex-grow: 0;
  }

  .register-facebook {
    @include flex-center;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 0.7rem;
  }

  .register-facebook__img {
    width: 15px;
    height: 15px;
    background-image: url(../../../assets/images/wonikChoi/facebooklogo.png);
    background-size: cover;
  }

  .register-lostPassword {
    @include flex-center;
    font-size: 13px;
    line-height: 1.1rem;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .register-container__inroll {
    @include flex-center;
    width: 100%;
    height: 65px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
  }

  .register-inroll__span {
    display: flex;
    align-items: center;
    padding: 0.2rem;
    font-size: 14px;
    gap: 0.2rem;
    cursor: pointer;

    span {
      font-weight: bold;
      color: #0597f2;
    }
  }

  /* 로그인 버튼 자바스크립트 */

  .register-button.focus {
    background-color: #0597f2;
    cursor: pointer;
  }

  /* media query */

  @media screen and (max-width: 850px) {
    .background_image {
      display: none;
    }

    .register-container {
      margin-right: 0;
    }
  }
}
